<footer id="footer" class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-7 columns">
          <p>© Men's Discipleship Network, 501c3 non-profit. All rights reserved.</p>
        </div>
        <div class="large-4 columns right">
          <p>[put social media stuff here]</p>
        </div>
      </div>
    </div> 
</footer>