<footer class="row white">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Men's Discipleship Network, 501c3 non-profit. All rights reserved.</p>
        </div>
      </div>
    </div> 
</footer>