<!--     <div class="row" id="gray-bar">   --> 
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Support MDN</a>
              <ul class="dropdown">
                <li><a href="#">Donate</a></li>
                <li><a href="#">Our Sponsors</a></li>
                <li><a href="#">Become a Sponsor</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">About Us</a>
              <ul class="dropdown">
                <li><a href="#">Our History</a></li>
                <li><a href="#">Our Founder</a></li>
                <li><a href="#">Vision & Mission</a></li>
                <li><a href="#">Our Beliefs</a></li>
                <li><a href="#">Elder Board</a></li>
                <li><a href="#">Board of Directors</a></li>
                <li><a href="#">Meet the Coaches</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">About Men</a>
              <ul class="dropdown">
                <li><a href="#">Man-Stats</a></li>
                <li><a href="#">Man-nerisms</a></li>
                <li><a href="#">Man-Life Parables</a></li>
                <li><a href="#">What the Bible Teaches About Men</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">MDN Ministries</a>
              <ul class="dropdown">
                <li><a href="#">MDN Discipleship System</a></li>
                <li><a href="#">Discipleship Boot Camp</a></li>
                <li><a href="#">MDN Curriculum</a></li>
                <li><a href="#">ANKOM Bible Study</a></li>
                <li><a href="#">Business Men of Faith</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">News</a>
              <ul class="dropdown">
                <li><a href="#">Coming Events</a></li>
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Photo Gallery</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Coaches Corner</a>
              <ul class="dropdown">
                <li><a href="#">Meet the Coaches</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">What the Coaches are Reading</a></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Resources</a>
              <ul class="dropdown">
                <li><a href="#">W.E.A.P.O.N.S. Curriculum</a></li>
                <li><a href="#">Top 25 Books for Men</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Video Browser</a></li>
              </ul>
            </li>
            <li >
              <a href="/">Home</a>
              <!-- <ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
              </ul> -->
            </li>
            <li><a href="#"></a></li>
          </ul>
        </section>
      </nav>
      <div class="row white_band"></div>
      <div class="row olive_band"></div>
<!--     </div> -->
    

  
<!-- End Header and Nav -->