<div id="top-image">
	<%= image_tag("about/about_top_image.jpg", :width => '730', :height => '295', :alt => 'Coach Dennis Labriola speaking to the men at an MDN Discipleship Boot Camp')%>
</div>
<div class="interior_content clearfix">
	<div id="mdn_desc" class="about">
	<h1>History of Men's Discipleship Network</h1>
		<div id="about_mdn"
			><p>Men's Discipleship Network had it's humble beginnings in 1996 in the basement of Head Coach Scott Caesar's 
		basement when he obeyed God's prompting to begin a bible study for men. Little did Coach Scott know that his seemingly 
		insignificant act of obedience would be the start of a great movement of God among men in the Northeast US. It was around 
		that time that Coach Bill McCartney founded Promise Keepers.</p> 
			<p>Coach McCartney spoke into and mentored Scott Caesar. Promise Keepers entrusted him with the followup to men 
		from the stadium event as Scott's heart was always for discipleship and follow-up, and for practical application of God's principals in
		a man's life at what Coach calls "tuesday at 2PM". Men's Discipleship Network has served Christ and His Church since 1995. and is a 501c3 non-profit organization.</p>
		</div>
	</div>
	<div id="mission_desc" class="about">
	<h1>About Our Mission</h1>
		<div id="about_mission">
			<h2>For the Church...Doing together what we can not do alone.</h2><p>MDN is assisting the church in mobilizing and training their men in order that men might grow in their love for God and to bear much fruit for Him. This alliance equips leadership to minister more effectively through a system of training.</p>
		<h2>For the Man...to mature a man to make him strong in the Lord.</h2><p>MDN provides training to instruct his heart - that he bears the masculine image of Jesus Christ, to instruct his head in the truths that challenge the lies men live, and instruct his hands, creating purpose driven habits.</p>
		</div>
		<a href="#">Back to top</a> &uarr;
	</div>
	<div id="founder_desc" class="about">
		<h1>About Our Founder</h1>
		<div id="about_founder"><p>Coach Scott Caesar is a Discipleship Revivalist, and Founder of the Men’s Discipleship Network. He speaks to many each year at Churches, Business Conferences, Men’s Discipleship Boot Camp® as well as the newly launched W.E.A.P.O.N.S.® Curriculum. These events train men to live free, enabling them to be responsible leaders in their homes, churches and communities. As an ordained minister, speaker and writer. Scott’s passionate calling is to assist men in their spiritual growth by replacing the lies of the world with the truth of the Bible, assisting them in experiencing the presence and love of God.</p>
	<p>Friends and Mentors, the late Dr. Edwin Louis Cole, Promise Keepers® Founder, Bill McCartney, Dr. A.R. Bernard, and Richard Galloway, have shaped and molded Scott as he stands in the gap with the local Church as an advocate for Christian Men, not ceasing until revival through ministry to men takes place.</p>
	<p>The Men’s Discipleship Network’s system of male discipleship has seen unprecedented growth in the Northeast due to message–driven events and church curriculum cementing “Truth that Transforms with Training that Sustains.” This is all done in partnership with the local church as over 70,000 men from over 1000 churches have been trained through this Discipleship System.</p>
	<p>Coach Scott has been on national TV and can be heard daily on radio with “Manhood Minutes” and his radio show “A New Kind of Man“ with Coaches Marc Birthwright and Steve Cervera.</p>
	<p>Scott’s greatest thrill is that God calls him Son, Debbie calls him her’s and Kimberly, Vincent and Nicholas call him Dad. He resides in Massapequa Park, NY.</p>
		</div>
		<a href="#">Back to top</a> &uarr;
	</div>

	<div id="system_desc" class="about">
		<h1>About Our System</h1>
		<div id="about_system"><p>Men's Discipleship Network has created a system of discipleship that assists the local church in training and equipping their men to become committed disciples of Jesus Christ. The graphic below provides a visual explanation of how the MDN Discipleship System takes men and leads them through events and challenging but practical training to assist the local church Pastor in discipling his men. Men return from MDN training having grown in their male maturity, obedience to Christ, and commitment to God, family, church, and job. </p>
			<p>Discipleship Boot Camp&#153; is a masculine school of transformation that has seen unprecedented growth in the Northeast due to the message–driven main events that challenge men to live in a manner pleasing and demanded by a Holy God. MDN’s follow-up strategy includes a training curriculum called W.E.A.P.O.N.S. that teaches a man to strengthen himself in the Lord. MDN’s work is never done in isolation, but rather we work in partnership with the local churches in the Northeast. Over 50,000 men from over 1000 churches have been trained through Discipleship Boot Camp.</p>
		</div>
		<a href="#">Back to top</a> &uarr;
	</div>
	<div id="belief_desc" class="about">
		<h1>About Our Beliefs</h1>
		<div id="about_beliefs"><h2>The Truth About God</h2>
		<p>We believe in the Triune nature of God (Genesis 1:26; John 1:1): that there is only one God eternally existing in three persons—Father, Son, and Holy Spirit (John 6:27; I Timothy 3:16; Ephesians 2:20-22). Each person in the Godhead is
		equal in being and power, different in their respective function (i.e. in the work of salvation: the Father planned it, the Son purchased it, and the Spirit applies it), and equally deserving of worship and obedience.</p>

		<h3>A. The Father</h3>

		<p>We believe that God, the Father of our Lord Jesus Christ, is the Heavenly Father of all who have been brought to a saving knowledge of His only begotten Son (John 1:14; 20:17; Romans 4:11; I Peter 1:3-5); that He is a
		Spirit (John 4:24) and the supreme Sovereign over all creation (I Chronicles 29:11-12); that He is fundamentally holy (Leviticus 20:7; I Peter 1:16), loving (I John 4:7-10), and just (Genesis 18:25; Deuteronomy 32:4); that He is immortal, invisible (I Timothy 1:17; 6:16), infinite (I Kings 8:27; Isaiah 66:1), eternal (Psalm 90:2; Romans 1:20), unchanging (Malachi 3:6; James 1:17), transcendent (Acts 17:24-25, 29), and immanent (Acts 17:27-28) in essence; that He is omniscient (Psalm 139:2-04; Isaiah 46:9- 10), omnipresent (Psalm 139:7-10; Hebrews 4:13), and omnipotent (Daniel 4:34, 35, 37; Ephesians 1:11) in power.</p>

		<h3>B. The Son, Jesus Christ</h3>

		<p>We believe in the eternal pre-existence of Jesus Christ as the second person of the Godhead (John 1:1,14; Colossians 1:15-17); that without any change in His divine Person He became fully man by miracle of the virgin birth (Matthew 1:25; Philippians 2:6-8); that He lived a sinless life (Hebrews 4:15), was crucified, died, was buried, and rose bodily from the dead the third day (I Corinthians 15:3-4); that He ascended into heaven and is now exalted at the right hand of the Father (Acts 1:9; Hebrews 9:24); that He is presently preparing a place for (John 14:1-3), continually interceding for (Hebrews 7:25), and will both bodily and visibly return in the clouds for (Acts 1:11; I Thessalonians 4:16-17) His own.</p>

		<h3>C. The Holy Spirit</h3>

		<p>We believe in the deity and personality of the Holy Spirit (John 14:16, 26). We believe that the Holy Spirit convinces the world of sin, righteousness and judgment (John 16:8-11) and is the agent of the new birth (II Thessalonians 2:13; I Peter 1:2). We believe that every believer is baptized into the Body of Christ, sealed unto the day of redemption, and is given spiritual gift(s) for ministry (I Corinthians 6:19; 12:13; Ephesians 1:13; Romans 12:6-8). We believe that the Holy Spirit ministers to believers by leading (Romans 8:14), teaching (I John 2:20, 27), illuminating (I Corinthians 2:9- 16), empowering (Acts 1:8), interceding (Romans 8:26), producing fruit (Galatians 5:22), and filling those who yield to His influence (Ephesians 5:18). We believe that the transformed man is given the empowered gift to be able to (Initiate) ask (Luke 11:13) to be filled with the Holy Spirit (Ephesians 5:18) and believe by (Activate) faith (Mark 11:24, James 1:6) that the Spirit of Christ abides in him and he in Christ. That upon Consistent Confession of inability (flesh) as well as known sin the Spirit resides and builds the believer (Cultivates). See more<a href="/pages/about#founder_desc">here.</a></p>

		<h2>The Truth About Man</h2>
		<p>We believe that Adam and Eve were created by the direct act of God and in the image of God with respect to intellect, emotion, and will (Genesis 1:26- 27). We believe that God created Adam and Eve in a sinless and upright state but that they willfully committed sin and brought sin and death—physical, spiritual, and the sentence of eternal (Hebrews 9:27; Romans 5:12; 6:23; Revelation 20:15)—upon the entire human race , descended from Adam. We believe all people inherit a sinful nature at the moment of conception, willfully sin individually as fallen creatures, and are separated from God (Psalm 51:5; Romans 3:10,23; 5:12). Man can do nothing in and of himself to establish a relationship with God.</p> 

		<p>We believe that God has placed the man as the head of his family to proof spiritually, provide morally and protect physically.
		That he is, his brother’s keeper. That the strong protect the weak and have responsibility to care for and rule over all God has given them to oversee.</p>

		<h2>The Truth About Salvation</h2>
		<p>We believe in the single, substitutionary, sacrifice of the Lord Jesus Christ on the cross on the behalf of sinners. We believe that salvation is wholly of divine grace, unattainable by any good works of the sinner in behalf of himself or another; that is only through God’s sovereign adoption that a person comes into the family of God; that faith, repentance, and saving grace are gifts given by God (Ephesians 2:8-9; Romans 2:4); and that salvation is received by a sinner when he repents towards God and puts his faith alone in the Lord Jesus Christ as his personal Savior (I Thessalonians 1:9; Romans 10:9-10). We believe that all who genuinely receive Christ as their Savior are born from above, kept by God’s power, reveal a transformed life, and are eternally secure in Christ (John 1:12; Acts 16:31; John 10:28-29; Titus 3:5-7; I John 5:11-13). We believe that the basis of salvation is the blood of Christ (I Peter 1:18-19), and the scope of salvation includes forgiveness of sins (past, present and future), righteous standing before God, and eternal life (John 3:16; Romans 6:23).</p>

		<h2>The Truth About the Church</h2>
		<p>We believe that all who place their faith in Jesus Christ are immediately placed by the Holy Spirit into one united spiritual body, the Church (I Corinthians 12:12,13), the bride of Christ (II Corinthians 11:2; Ephesians 5:23-32; Revelation 19:7,8), of which Christ is the founder (Matthew 16:18) as well as the head (Ephesians 1:22; 4:15; Colossians 1:18). We believe in the rapture of living believers and the resurrection of dead believers when the Lord returns in the clouds—at which time both companies will meet the Lord in the air to be with Him forever (I Thessalonians 4:13-18).</p>

		<p>We believe that the Church is manifested through local churches and para-churches composed of believers in Christ of the same locality who organize and assemble for worship, prayer, instruction, evangelism and observance of the ordinances instituted by
		Christ (Acts 2:41-47; Ephesians 4:11-16). We believe that the two ordinances committed to the local church are baptism and the Lord’s Supper (Acts 2:38-42). Christian baptism by immersion (Acts 8:36-39) is the solemn and
		beautiful testimony of a believer showing his faith in the crucified, buried, and risen Savior, his union with Him in death to sin, and his resurrection to a new life (Romans 6:1-11). The Lord’s Supper is the commemoration of His death until
		He comes, and should always be proceeded by solemn self-examination (I Corinthians 11:23-32).</p>

		<p>We believe that the biblically designated officers serving under Christ and over the assembly are male elders, who are also called bishops, pastors, and pastor/teachers and in some cases “Coach" (Acts 20:28; Ephesians 4:11) and male deacons, both of whom must meet biblical qualifications (I Timothy 3:1-13; Titus 1:5-9; I Peter 5:1-5). We believe that the Holy Spirit dispenses spiritual gifts to every believer for the purpose of edifying both their local church body and the body of Christ at large
		(Ephesians 4:11-12; I Corinthians 12). We believe that each local church is free to govern itself independently and autonomously.</p>

		<h2>The Truth About Scripture</h2>
		<p>We believe that the Bible is God’s written revelation to man;(INSPIRED) that God guided His chosen writers to (INERRANT) write the words that He wanted to communicate in the original manuscripts of the Hebrew Old Testament and the Greek New
		Testament (II Peter 1:20,21); that both every word of Scripture is inspired by God—”verbal inspiration” (Proverbs 30:5; Matthew 4:4; I Corinthians 2:13); and that as a whole and in every part the Bible is inspired by God—”plenary inspiration” (II Timothy 3:16). We believe that the Scriptures in the original manuscripts are absolutely trustworthy, harmonize without contradiction, and are without error regarding doctrinal, moral, practical, scientific or historical teaching (Psalm 119:140,160; John 10:35; John 17:17). We believe that the illumination of the Scriptures is given to man by the ministry of the Holy Spirit (I Corinthians 2:6-16), but that no Scripture is a matter of one’s own interpretation (II Peter 1:20).</p>
	</div>
	<a href="#">Back to top</a> &uarr;
</div>
