<div id="top-image">
	<%= image_tag("bof/bof_top_image.jpg", :width => '730', :height => '295', :alt => 'Businessman graphic art')%>
</div>

<div id="bof">
	<div class="bof-scripture">
		<div id="verse1">
			<p>“The Lord God took the man and put him in the Garden of Eden to work it and take care of it.”</p>
			<p><span style="font-style: italic; margin-left: 10px; text-indent: -10px;">Genesis 2:15</span></p>
		</div>
		<div id="verse2">
			<p>"Whatever you do, work at it with all your heart, as working for the Lord, not for human masters, 
				since you know that you will receive an inheritance from the Lord as a reward. It is the Lord 
				Christ you are serving.”</p>
			<p><span style="font-style: italic; margin-left: 10px; text-indent: -10px;">Colossians 3:23-24</span></p>
		</div>
	</div>
	<h1>Businessmen of Faith<sup>&#153;</sup></h1></br>
	
	<a href="/pages/events#bof">Register Today</a> for the next BOF Networking Meeting!</br></br>
	<p>From the beginning of his creation, man was designed to work and to be industrious. It is part of our “spiritual DNA” 
		to create and to find satisfaction in whatever God has gifted us to do. It wasn’t until the Fall that work became 
		difficult and a drudgery.(Gen 3:17-19) But when Jesus died on the cross he not only redeemed those who accepted his 
		sacrifice, but every aspect of their lives including their work. 
		<span style="font-style: italic; margin-left: 10px; text-indent: -10px;">Is your work or business drudgery, purposeless, 
		and unfulfilling?</span></p></br>
	<p>Our Father in Heaven is pleased to grant us the “abundant life” here on Earth if we will abide in Him (John 10:10). 
		Jesus says, “Seek first the kingdom of God and His righteousness and all these things will be added to you.” (Matt 6:33) 
		<span style="font-style: italic; margin-left: 10px; text-indent: -10px;">Is God blessing the works of your hands and prospering 
			your business according to His plan for you? What does it mean to be a Christian Businessman?</span> </p></br>
		
	<p>Businessmen of Faith<sup>&#153;</sup> is a network of current or aspiring business owners, executives, professionals, and managers who seek to 
		discover God’s fullest purposes and blessings in their work. Businessmen of Faith™ meet periodically to hear from Christian 
		businessmen who will share their insights on topics ranging from successful business practices to ministering to a “fallen” 
		world through your business. Meetings include opportunities to make valuable and mutually profitable relationships, and sharpen 
		oneself through engaging discussions and presentations.</p></br>
	<p>For a list of meeting times, <a href="/events/events">click here.</a></p>
	</br>
	<p>Connect to us on
	  <a href="http://www.linkedin.com/groups/Businessmen-Faith-4332892?" target="new"><img src="http://www.linkedin.com/img/logos/logo.gif" ></a>
	</p>
</div>
