<div id="top-image">
	<%= image_tag("bootcamp/bootcamp_top_image.jpg", :width => '730', :height => '295', :alt => 'Men standing and worshiping Jesus at an MDN Discipleship Boot Camp')%>
</div>
<div class="interior_content clearfix">
	<div id="offer">
		<h2>Event Audio</h2><h3>3 CD Set</h3><%= image_tag("ads/dbc_cd_set_md.jpg", :alt => 'CD Set for Discipleship Boot Camp audio recording available for purchase') %>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCVSUX4rqxNr2lOozCC9BGnvW5PpV5SWGypU/NsYsHNzruXO5C/VIYAOeoIrty7tqTlSoIjC0HjJZnfZD7x4Yu3h3ICPxEgqyLM5vEroMSv7JDmql4KgaRATA18/eSOzt1zUe8qwaDwyKH1eM6SpiVd30N6k25VBL4hng2/q8JH2DELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIXKxSoVFQnYWAgaicJFzJGLeAh3BgnYrQFkNFW7ZqD4vN2kTpFiWphjEQ0L9VLi3x+KvTz5edEUoz2APlkifcCuYB4q3hw1ltAT7vhy0a468RZWhzKXMV96DgwWTnkyfjgpiPfBoZ/0NVGtmEdIk5U0PhZl+xhwjatk3KJCmA9+AXJ8AJOXK53VUIrNSeeIZGxh8+pR2V/AB7cSOO26Onuj2/deZ2BNBRxcPC7hPda9XR0GigggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDA0MTEyMTA5MjdaMCMGCSqGSIb3DQEJBDEWBBQlZ1HRl46IdGpQcjBzX4JFV0z+oDANBgkqhkiG9w0BAQEFAASBgAODZ+Iex1OUQ+0V+ZgxtxYIRtL9OZWYpz8IuExvYHrrClA+B8qFHHpadpRWzj6yTMcJNwZgd9z0x7CAfjQS5kU8waRbfrnZIswUiTgWNaMaznDjGoIQ6pnBw1MjqkNxuOOCwIBAc2XHWEh0RFTSSRMB9xkzAXGMZ3d+wUi/GQJa-----END PKCS7-----
		">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		<p>Suggested Donation $24.99 <span style="font-size:12px;">(includes shipping)</span></p>
		</form>

	</div>
	<div id="dbc">
	<h1>Discipleship Boot Camp<sup>&#174;</sup></h1></br>
	<h2>March 29, 2014</h2>
	<p>Location: Smithtown Gospel Tabernacle</br>
	1 Higbie Drive </br>
	Smithtown, NY 11787</p>
<br />
	<h1>Thank You!</h1>
	<p>Well, another incredible Discipleship Boot Camp<sup>&#174;</sup> event was conducted on March 29th. If you were present, you witnessed an amazing move of God as His Holy Spirit moved among the hearts of the men who came out to this sold out event. Men worshipped the Creator together in unity from scores of different churches representing dozens of denominations across the New York Metro region. Men of every color locked arms in racial solidarity to the cause of Christ, and were challenged to the core of their being to stand firm for righteousness and to influence our culture for God, so that by His grace we may see revival in our land.</p>
	<p>Special thanks goes to Pastor Gary Zarlengo, Pastor Derek Prezzano, the SGT Staff, and the faith family of Smithtown Gospel Tabernacle for their incredible generosity, hospitality, and cooperation in conducting this event. There is no way that MDN could have delivered this event were it not for the local church like SGT sharing their facilities and resources. We pray that the Lord continues to bless SGT with God's favor for the impact they have on all the churches and communities in the region.</p>
	<p>If you missed out on this year's Discipleship Boot Camp<sup>&#174;</sup>, don't make the same mistake next year! Keep an eye out for announcements of the incredible venue we have lined up for Discipleship Boot Camp<sup>&#174;</sup> in 2015. But you don't have to wait until then to join the movement. Contact us today to find out about our <a href="/pages/curriculum/">W.E.A.P.O.N.S.<sup>&#174;</sup> Intensive Training.</a></p>
	
	<div class="small_txt">
		<p>Discipleship Boot Camp<sup>&#174;</sup> is an event that challenges a man to the depth of his being, confronting him with the realization of the Holy God, the great inadequacy of the workings of his flesh, and the hope that exists only through Jesus Christ and in living out the plan God has for him as the head of his family, leader in his church, and provider.</p>
		</br>
		<h2>Attend a Discipleship Boot Camp<sup>&#174;</sup>:</h2>
		<ul>
			<li>Train, Instruct, and Challenge your men to thrive in the roles that God has given</li>
			<li>Ignite the faith of your men and motivate them to love God and bear much fruit</li>
			<li>Break the grip of sin and addiction to pornography, substance abuse, and relational dysfunction</li>
			<li>Crush the cycle of yo-yo Christianity, and provide training that yields male maturity</li>
			<li>Provide the "shot in the arm" for your Men's group to put them back on the right direction</li>
			<li>Provide training to your Pastor or Men's Leader to effectively address the needs of your church's men</li>
		</ul>

		<div class="video">
			<p>Take a look at these highlights from our Fall 2010 Discipleship Boot Camp series.</p></br>
			<iframe width="560" height="349" src="http://www.youtube.com/embed/UjGzVLwCWZY" frameborder="0" allowfullscreen></iframe>
			</div>
			<div></br>
		</div>
	</div>

</div>
