<div id="top-image">
	<%= image_tag("contactus/contactus_top_image.jpg", :width => '730', :height => '295', :alt => 'Head Coach Scott Caesar congratulating one of the mens Pastors') %>
		
</div>
<div id="contact"><h1>Contact Us</h1>
<h2>Offices</h2>
<p>27 Grand Avenue</p>
<p>Farmingdale, NY 11735</p>
</br>
<h2>To Contact Head Coach Scott Caesar</h2>
<p>Please call his Executive Assistant, Paula Dibernardo at 631-753-1244</p>
<p>Or email:</p>
<p>coach@mensdiscipleshipnetwork.com</p>
</br>
<h2>To Donate to MDN</h2>
<p>Please call 631-753-1244</p>
<p><a href="/pages/donate">Or donate online here:</a></p>
</br>
<h2>To Host a Discipleship Boot Camp<sup>&#153;</sup> or W.E.A.P.O.N.S.<sup>&#153;</sup> Training</h2>
<p>Please call Paula Dibernardo at 631-753-1244</p>
<p>Or email:</p>
<p>paula@mensdiscipleshipnetwork.com</p>
</br>
<h2>To Request an MDN Coach to Speak or Teach</h2>
<p><a href="/requests/new">Click here </a> to submit a request.</p>

</div>


