<div id="top-image">
	<%= image_tag("curriculum/weapons_set_top_image.jpg", :width => '730', :alt => 'Photo of the WEAPONS training curriculum for men. This image shows the DVDs, manuals, and box that comes in the kit')%>

</div>
<div class="interior_content clearfix">
	<div id="curriculum_body" class="stats title">
		<h1>W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum for Men</h1>
		<h2>Teaching a Man to Strengthen Himself in the Lord</h2>
		<p><span style="font-weight: bold;">Frequently Asked Questions By Men's Ministry Leaders</span></p>
		<ul>
			<li>How can we improve <span style="color: #660000;font-size: 16px; font-weight: bold">CONSISTENCY</span> in both our ministry and in the men's themselves?</li>
			<li>Where can we find Masculine-Driven <span style="color: #660000;font-size: 16px; font-weight: bold">CONTENT</span> that is Scripture-themed & Practically applied?</li>
			<li>How do we keep our men <span style="color: #660000;font-size: 16px; font-weight: bold">CONNECTED</span> in already established church small groups?</li>
		</ul>
		<div class="callout">
			<p>“Say what you want, but when God's Word is combined with the call to manhood, an emphasis on brotherhood, and dialing in on practical Christian living, transformation takes place among men. MDN's W.E.A.P.O.N.S. Curriculum is proving this formula to be true over and over again. I wholeheartedly back it.“ </p><citation>-- George McGovern, Chaplain, NY Yankees and NY Giants</citation>
		</div>
		<div id="curriculum_overview">
			<p>Listen to what men are saying about this transformational training.</p>
			<div class="video">
			<iframe width="560" height="349" src="http://www.youtube.com/embed/GGXD5ztd0e4" frameborder="0" allowfullscreen></iframe>
			</div>
		<h2>Curriculum Overview</h2>
			<ul>
				<li><span>W: Word  </span>Experiencing the truth that God is inseparable from His word. As God is to his word, so is man to be to his word. Life Father like son!</li>
				<li><span>E: Expunge  </span>Recognizing habits that hinder & hurt. Expunging those habits and exchanging them for habits that help. </li>
				<li><span>A: Associations  </span>To grow in Christ a man must invest in associations that lend permission for him to live the abundant life. This is through accept-able, relate-able, and sustain-able godly relationships. </li>
				<li><span>P: Purpose   </span>The apex of man's training where he is challenged to redefine his purpose in life. The truth "you were made by God for God". A man's secondary purpose of Provider & Protector - MDN's Masculine Mandate</li>
				<li><span>O: Order  </span>The right purpose lived out in wrong priorities creates disorder, stress, and unrest in life. A man of order in a world of chaos, how to radically balance life. The Biblical mandate for oneness in his life with God, Spouse, and the Brotherhood. </li>
				<li><span>N: Name   </span>Brand identity. Knowing God's names. God reveals who He is by the names He brands Himself with. God is a "name caller". As He is known by His name, so he gives man a new name (identity) in Christ by what he calls us. </li>
				<li><span>S: Strength   </span>How a man "strengthens himself in the Lord". The strong man every women dreams of and every child hopes for. His strength is now rooted in receiving the Word of God that he may become like the Son of God. </li>
			</ul>
			
			
		</div>
		<div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=11452720395&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
		<!-- </br>
		<%#= image_tag("curriculum/weapons_chart_sm.gif", :class => "graphic") %>
		<p><a href="/events/events">Check the schedule</a> for the next training session. <a href="/pages/contact">Contact</a> us to discuss how your church's Men's ministry can benefit from WEAPONS.</p> -->
		
	</div>
</div>
