<div id="top-image">
	<%= image_tag("donate/donate_top_image.jpg", :width => '730', :height => '295', :alt => 'MDN Coaches lined up in front of packed audience at MDN Discipleship Boot Camp')%>
	
</div>
<div class="interior_content clearfix">
	<h1>Stand with MDN to Reach Men for Christ</h1></br>
	<p>Men's Discipleship Network is staffed by an almost <span style="font-weight:bold;">exclusively volunteer</span> army of men and woman who are investing <span style="font-weight:bold;">both their time and money</span>. But we need financial assistance from partners like you to help us with the expenses of our operation. Men's Discipleship Network is a Non-Profit, 501c3 organization and your financial contribution is tax deductible. A one time gift of $100, $1000, or more would be tremendously helpful to our effort. However, even a small, but regular contribution will help us to create a budget that will allow us to increase our services to the over 1000 churches in our network.</p></br>

	<p>Please send your support using your credit card or PayPal&#174; account. We thank you for partnering with us in "Changing Families One Man at a Time"&#153;</p>
	</br>
	<div id="donate">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHPwYJKoZIhvcNAQcEoIIHMDCCBywCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAl2HOQjOaP5G6I4qmv0ZKPKvxfmi9LkZqbk70QfXDYMnIZ877pQ56FtYPSjLiWb2e1tC2AdRCOBu2dNAyqWtpTaUqy7+id3B9uctzyKWDj6509kQKW5ZkA246Z2O6BT/C7L8Og9CO28AbHdhP7R8cdplpj2U+/psmYpqiFFzsDJjELMAkGBSsOAwIaBQAwgbwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIlLpIlpYiK5OAgZiCAD9luwgBbiTop4WgyF+44Ywzd1tS3pFafM0AwsYszH/4KGPtyILxnGDBIWWkaRc2X25N22Kc5R8u+3kZ6hqWjuuYPuITlckn1qY/HexNLONaPrD/Qy+tC4aYnL8qB5MJce4HytJWez7ibu9h8+uPCcLLqMdqGfAr4ImIjiY84cwgb9LF61jKrm6EYKvfd9sXtZY/3xQGJqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTExMDgyMDIwMzQzNlowIwYJKoZIhvcNAQkEMRYEFM7X875pM6gOravz8fvtYqAIoD9eMA0GCSqGSIb3DQEBAQUABIGAZx831lhWdqyMFclNb2duukzlPZJjyYKxJr6hT1o8NvpGOdpewW2xgVuCzp1z/FeunweZwMlZXzvpwroF7ivNEmxVGCFJsXpljV5ygQE6qfpc/wlbQISqG7umFy/ifM5LS1Axx+fK6DBsM1rujlE3eIIJzS53Rnuf2tPSXc4t1OE=-----END PKCS7-----">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>

	</div>
</div>
