<div id="resources">
	<div id="elder_header">
		<h1>MDN Elder Board</h1>
		<p>The MDN Elder Board consists of mature, doctrinally sound leaders in the Christian community who share a passion for ministering to and discispling men. They each bring many years of experience ministering to the Church and provide spiritual counsel and oversight to Coach Scott Caesar and the leadership of Men's Discipleship Network. We are very pleased to have the following men on the MDN Elder Board.</p>

	</div>


	<div class="elder_wrap clearfix">
		<div class="elder_block" id="elder_bernard" >
			<h2>Dr. A.R. Bernard</h2>
			<div class="elder_bio">
				
				<p><%= image_tag("elderboard/arbernard.jpg", :alt => 'Doctor A.R. Bernard')%> A.R. Bernard is the Founder, Senior Pastor, and CEO of Christian Cultural Center (CCC) located in Brooklyn, NY. With an 11.5 acre campus and a registered membership of over 37,000 Dr. A.R. Bernard is also the President of the Council of Churches of the City of New York prepresenting 1.5 million Protestants, Anglicans, and Orthodox Christians. He has a Master of Urban Studies and a Master of Divinity from Alliance Theological Seminary. He has been awarded an Honorary Doctorate of Humane Letters from Wagner College, May 2010, and an honorary Doctor of Divinity degree from Nyack College/Alliance Theological Seminary, May 2009. Dr. Bernard and our founder, Scott Caesar, share a relationship that spans over fifteen years as well as a common mentor and spiritual father in the late Dr. Edwin Louis Cole.</p>
			</div>
		</div>

		<div class="elder_block" id="elder_caesar" >
			<h2>Bishop Roderick Caesar</h2>
			<div class="elder_bio">
				
				<p><%= image_tag("elderboard/caesar.jpg", :alt => 'Bishop Roderick Caesar')%> Bishop Roderick R. Caesar is the Senior Pastor of the Bethel Gospel Tabernacle. He is the son of the founders, Bishop Roderick R. Caesar, Sr. and Gertrude Brown Caesar. Bishop Caesar not only shepherds a congregation of 2000 members, he is the overseer of three branches of churches including a thriving church in Haiti.</p>
				<p>Bishop Caesar serves on boards of key Christian organizations, including Bethel's own Federal Credit Union and Bible Institute, Logos Bible College and Graduate School, the National Religious Broadcasters (an international media ministry), King's College, and Christian Renaissance Corporation. Bishop Caesar's relationship with our founder, Scott Caesar, and MDN spans over fifteen years.</p>
			</div>
		</div>

		<div class="elder_block" id="elder_galloway" >
			<h2>Mr. Richard Galloway</h2>
			<div class="elder_bio">
				
				<p><%= image_tag("elderboard/galloway.jpg", :alt => 'Richard Galloway')%> Richard Galloway and his wife Dixie are co-founders of New York City Relief, a non-profit ministry created to feed and love the poor in New York City. Prior to being called by God to start feeding the hungry and homeless, Richard operated a chain of successful convenience stores. His other business ventures include banking, owning a computer business, commercial real estate, and building a Christian TV station. His own experience with being freed from drug and alcohol addiction, have given him a strong sense of hope and desire to help others in the same situation. His covenantal relationship with our founder, Scott Caesar, and MDN spans over twenty years.</p>
			</div>
		</div>

		<div class="elder_block" id="elder_milazzo" >
			<h2>Pastor Steve Milazzo</h2>
			<div class="elder_bio">
				
				<p><%= image_tag("elderboard/milazzo.jpg", :alt => 'Pastor Steve Milazzo')%> Pastor Steve Milazzo is the elected Presbyter for the Assemblies of God New York Metro Region. He is also the Lead Pastor of the Bethlehem Assemblies of God church in Valley Stream, NY. He is a passionate communicator of the Gospel and the hope in Jesus Christ. His desire is to build leaders and equip churches to achieve their full redemptive potential in the Kingdom of God. His relationship with our founder, Scott Caesar, and MDN spans over ten years.</p>
			</div>
		</div>
	</div>
	
</div>

	
	