<div id="top-image">
	<%= image_tag("leadership/leadership_top_image.jpg", :width => '730', :height => '295', :alt => 'Room packed with men being taught by Coach Scott Caesar at 6:30AM Thursday morning bible study')%>
</div>

	<h1>MDN's Weekly Studies in Biblical Manhood</h1></br>
	<p>Men's Discipleship Network conducts bible studies twice each week to provide sustained training to Men's Leaders and Pastors who are serious about growing in Christ-like masculinity and spiritual maturity. This study is not for the faint of heart or the man who would like to hide away from being held accountable. Men who attend the Leadership Bible Study are held accountable for regular attendance, transparency in their lives, fruit in their ministries, and financial support of MDN.</p></br>

	<p>Each week, the study opens with 30 minutes of worship and prayer. Head Coach Scott Caesar or one of the other MDN Coaches prepares a teaching for the men from Scripture, and then the men have an opportunity to discuss the application of the scriptural truth in their lives. Men are instructed about their ultimate purpose of loving God and bearing much fruit for Him, and how to "abide" in Christ to live the "abundant life" that Jesus spoke about in John 10:10.</p></br>

	<p>If you are interested in attending the MDN Bible Studies, please contact Paula Dibernardo at (631)753-1244.</p></br>
	<ul style="line-height: 140%; square;list-style-position: inside;">
		<li>Monday Nights 7pm-9pm <br/>"A New Kind of Man"<sup>&#153;</sup> weekly studies in Biblical Manhood led by Coach Marc Birthwright</li><br/>
		<li>Thursday Mornings 6:30am to 8:00am<br/> "A New Kind of Man"<sup>&#153;</sup> weekly studies in Biblical Manhood led by Head Coach Scott Caesar</li><br/>
	</ul>
	<div class="full-photo">
		<h2>Renovation in Progress</h2>
		<%= image_tag("leadership/thurs_AM_new_room.jpg", :width => '680', :alt => 'New bible study room under construction')%>
		<p class="photo_caption">Men worship at Thurs. 6:30AM Leadership Bible Study in the new conference room under construction</p>
	</div>
	<div class="full-photo">
		<h2>Completed Conference Center</h2>
		<%= image_tag("leadership/new_conf_center.jpg", :width => '680', :alt => 'Newly completed bible study room')%>
		<p class="photo_caption">Bishop Nelson leads the men at Thurs. morning Leadership Bible Study in the newly renovated conference room.</p>
	</div>

