<div id="top-image">
	<%= image_tag("parable/parable_top_image.jpg", :width => '730', :height => '295', :alt => 'Men sitting together with one telling the others a story')%>
</div>
<div class="interior_content clearfix">
	<div id="parables">
	<h1>Man-Life Parables - For Life's Tough Calls</h1>
	<h2>A Man of His Word</h2>
	<p>On tuesday afternoon Dave's boss walked into his office and asked if he can complete a project for one of their best customers due this Saturday Morning. He tells dave it also needs to be delivered saturday at the customer's location only 1 hour away from Dave's home. Dave gives his word that he will awake early Saturday and take care of it as well as deliver it to the customer saturday by 10am.</p></br>

	<p>That Tuesday night Dave shares with Susan what he has to do for work saturday and Susan acknowledged Dave's commitment. Dave finds when he awakes saturday his wife susan a bit stressed as a bad night sleep, due to the children kept her up half the night. She is slightly emotional, irritable and now mad that Dave is leaving the family on a Saturday morning. In addition, Dave had some unfinished household chores he usually catches up on Saturdays which always makes Susan happy, but told her he will do them later in the day.</p></br>

	<p>Susan confronts Dave and tells him that he needs to get his priorities in place. That family comes first, not work or his boss. Dave answers Susan saying that he gave his word and he cannot break it, and will be back later.</p></br> 

	<p>Susan is now even angrier and sternly asks Dave if His word is more important than his family? Dave says, "Yes, it is" and that he is sorry. Dave walks out of the house saying he will be back at 11:00am.</p></br>

	<p>
		<ul>Consider The Way:
			<li>Was Dave wrong in what he did?</li>
			<li>What should Dave have done?</li>
			<li>Were his words and actions proper?</li>
		</ul>
		<p> Study: Proverbs 12:22 - Numbers 30:2 - Matthew 5:33-37 - Matthew 12:36-37 </p>
	</p>
	<p>"To experience and learn to teach <span style="font-style:italic;">Man-Life Parables</span>,<a href="/pages/curriculum">get more information</a> on the W.E.A.P.O.N.S. curriculum for men."</p>
	</div>
</div>
