<div id="top-image">
	<a href="/pages/donate"><%= image_tag("manstat/manstat_top_image.jpg", :width => '730', :height => '295', :alt => 'Photo of a man looking despondent and caption reading Help MDN shine the light of truth into the darkness of mens souls. Donate today.')%></a>
</div>
<div id="interior_content" class="clearfix">


</div>