<div id="top-image">
	<%= image_tag("system/system_top_image.jpg", :width => '730', :height => '295', :alt => 'Three Men sitting and listening as another relates a story to the others at an MDN Discipleship Boot Camp')%>
</div>

<div class="interior_content clearfix">
	<h1>MDN Discipleship System<sup>&#153;</sup></h1></br>
	<p>Refined over the course of 15 years of ministry to men, MDN has developed a System of Discipleship that results in mature, committed men who are trained in Biblical Truth and prepared to lead their families and serve in their local churches. MDN is here to assist the local church meet the needs of its men, offering unique training specifically for men that addresses the many challenges that men face.</p></br>
	<p>It's MDN's belief that by training men to live consistent Christian lives, and then restoring them to their God given roles of headship in the family and The Church, that entire families will be redeemed, Revival will come to our land, and Godly Culture will be restored.</p></br>
	<div id="mdn_system">
		<%= image_tag("about/mdn_system.jpg", :width => '670', :alt => 'A graphic showing MDN\'s 4 phase discipleship system')%>
		<img src="/images/about/mdn_system.jpg" width="670" alt=""/>
	</div>
</div>
