#maroon-bar {
	margin-left: 0px;
	height: 150px; 
	width: 100%;
	background: #660000; 
	vertical-align: middle;
	background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.5) 95%) repeat scroll 0% 0% #890000;
}
#gray-bar {margin-bottom: 15px;}

#masthead_logo {margin-top: 5%; margin-left: 5%;}