#main {background: #A1926F; z-index: -1000;}
#wrapper {
  background: white;
  box-shadow: 0 5px 25px rgba(0,0,0,0.50), 0 0 50px rgba(0,0,0,0.1) inset;

}


/* Overwrite the Foundation _grid.css that is messing up the navbar alignment */
.row .row {margin: 0px;}

@import "masthead";
@import "navbar";
@import "footer";

