#main {background: #A1926F; z-index: -1000;}
#wrapper {
    background: white;
}

/* Overwrite the Foundation _grid.css that is messing up the navbar alignment */
.row .row {margin: 0px;}

@import "masthead";
@import "navbar";
@import "footer";

